<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formato Correos Silcor</title>
</head>

<body>
    <img src="cid:imagen" alt="Pie de página" style="width: 100%; max-width: 600px; display: block; margin: 20px auto;">
    <h1>Residencias Portugal - Respuesta Satisfactoria al Estudio de Genealogía</h1>
    <p>Estimado/a Cliente,</p>
    <p>Nos complace informarle que hemos completado con éxito el estudio de genealogía solicitado. Hemos encontrado
        información relevante y valiosa sobre su historia familiar.</p>
    <p>Para continuar con el proceso, necesitamos que nos proporcione la siguiente información adicional:</p>
    <ul>
        <li>Copia de la cédula de identidad o pasaporte de [Nombre del Cliente].</li>
        <li>Registro civil o documento equivalente que confirme su estado civil.</li>
        <li>Documentos relacionados con parientes cercanos, como certificados de nacimiento o matrimonio.</li>
        <!-- Agrega más elementos según sea necesario -->
    </ul>
    <p>Por favor, envíe la información solicitada a la dirección de correo electrónico
        lady@silcor.info /  contacto@silcor.info. Asegúrese de que los documentos sean legibles y estén en un formato fácil
        de entender.</p>

    <p>Estamos aquí para ayudarle en todo el proceso y responder cualquier pregunta que pueda tener. Gracias por confiar
        en Residencias Portugal para su estudio de genealogía.</p>

    <p>Atentamente,</p>
    <p>El equipo de Residencias Portugal Silcor</p>
    <p>Teléfonos:</p>
    <ul>
        <li>+57 302 4886465</li>
        <li>+57 317 5875572</li>
        <li>+1 305 7629615</li>
        <li>+34674986855</li>
    </ul>

</body>

</html>